.panel-heading {
	background: #100;
	background-image: url("http://res.freestockphotos.biz/pictures/9/9090-an-abstract-blue-background-pv.jpg");
}

.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.darkestBG {
	background: #333;
}

.form-horizontal {
	background: white;
}

.form-group row {
	background-image: url("oNHaish.jpg");
}

.breadcrumb {
	background-image: url("h.jpg");
}

.nav {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/72/21/1d/72211d6b555afea993fd8ddc39bc2172.jpg");
}
.container {
	background-image: url("h.jpg");
}

.backer {
	background: url("h.jpg");
	content: "";
    position: top;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url("h.jpg");
   opacity: 0.7;
}

.table-responsive {
    background-color:white;
}